/* Color Theme Swatches in Hex */
.Landscape-in-summer-with-trees-and-meadows-in-bright-sunshine-1-hex { color: #4375D9; }
.Landscape-in-summer-with-trees-and-meadows-in-bright-sunshine-2-hex { color: #49A3F2; }
.Landscape-in-summer-with-trees-and-meadows-in-bright-sunshine-3-hex { color: #384001; }
.Landscape-in-summer-with-trees-and-meadows-in-bright-sunshine-4-hex { color: #F2B90C; }
.Landscape-in-summer-with-trees-and-meadows-in-bright-sunshine-5-hex { color: #D98E04; }

/* Color Theme Swatches in Hex */
.Baltic-Sea-1-hex { color: #0367A6; }
.Baltic-Sea-2-hex { color: #647D8C; }
.Baltic-Sea-3-hex { color: #C4E5F2; }
.Baltic-Sea-4-hex { color: #F2DAAC; }
.Baltic-Sea-5-hex { color: #BF6734; }


.navbar{
    //background-color: #027FED;
    //color: white;
    background: linear-gradient(45deg, #0367A6, #F2DAAC);
}
.navbar-margin{
    margin-left: 25px;
}
.margin{
    padding-top: 50px;
}
.margin-card1{
  padding:  100px 20px;
}

.booton-collapse{
  margin-right: 30px;11
}
.logo-login{
  margin-right: 0px;

}
.height-a{
  height: 100%;
}

.form-container{
  max-width:60%;
}
.booton-m{
  margin-top: 10px;
}

.body-login{
  background: linear-gradient(45deg, #0367A6, #F2DAAC);
}
.imput-u{
  background: linear-gradient(45deg, #0367A6, #F2DAAC);
}

/* Estilo básico para todos os inputs */
input.form-control {
  border-radius: 0.375rem; /* Aumenta a borda arredondada */
  border: 2px solid #ccc; /* Define a borda padrão */
  padding: 10px; /* Adiciona preenchimento */
  font-size: 16px; /* Define o tamanho da fonte */
  transition: border-color 0.3s, box-shadow 0.3s; /* Adiciona transição para borda e sombra */
  background: linear-gradient(45deg, #0367A6, #F2DAAC);
}

/* Estilo para quando o input está em foco */
input.form-control:focus {
  border-color: #007bff; /* Cor da borda em foco */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra em foco */
}

/* Estilo para o placeholder */
input::placeholder {
  color: #888; /* Cor do placeholder */
  opacity: 1; /* Opacidade do placeholder */
}

/* Estilo para labels */
label {
  font-weight: bold; /* Deixa o texto da label em negrito */
  margin-bottom: 5px; /* Espaço entre o label e o input */
}